@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,figure,figcaption{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}

a,u{text-decoration: none;}
li,ol,ul{list-style: none;}
em,i{font-style: normal;}
b,strong{font-weight: normal;}
img{display: block;border: 0;}
input{outline: none;}
.clear:after{content:".";display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.float_l{float: left;}
.float_r{float: right;}
.clear_margin{margin: 0!important;}
.clear_border{border: 0!important;}
.clear_bg{background:none!important;}